<h2>Регистрация</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= 'Эл. почта' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
  <%= 'Ваше имя' %><br />
  <%= f.text_field :username, autocomplete: "username" %>
</div>

  <div class="field">
    <%= 'Пароль' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> символов минимум)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= 'Подтвердите пароль' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Зарегестрироваться" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
