
<h2>Восстановление доступа</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= 'Эл. почта' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Прислать инструкцию по сбросу пароля" %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
