<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-body border-bottom shadow-sm">


      <div class="container">
        <div class="row">

          <div class="col-sm-2 col-md-2 col-lg-2 col-xl-4">
            <h5>Puchkov M.</h5>
          </div>

          <div class="col-sm-2 col-md-2 col-lg-3 col-xl-2">
            <span class="p-2 text-dark"> <%= link_to 'Главная страница', index_path %> </span>
          </div>

          <div class="col-sm-2 col-md-2 col-lg-4 col-xl-4">
            <span class="p-2 text-dark"> <%= link_to 'Добавить пост', new_post_path %> </span>
          </div>

          


            
              
              <% if user_signed_in? %> <!-- Если юзер залогинен -->

                <div class="col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1">
                  <%= current_user.username %>
                </div>


                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                    <%= link_to 'Выход', destroy_user_session_path, method: :delete %>
                  <% else %>
                    <%= link_to 'Войти', new_user_session_path %>
                </div>

              <% end %>
              

            

        </div> <!-- row -->
      </div> <!-- container -->



    </header>

     

  <div class="container">
    <%= yield %>
  </div>

  </body>
</html>
